main{
  max-width: 794px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.profissao{
  font-size: 1.5rem;
  margin-top: -1.2rem;
}

li{
  list-style: none;
}

.locais{
  font-weight: 200;
  text-align: left;
  margin-bottom: 3rem;
  text-decoration: none;
  
}

.titulo{
  font-size: 1.5rem;
}

.funcao{
  margin-top: -1.6rem;
  font-size: 1.2rem;
}

.tempo{
  font-size: 1rem;
  margin-top: -1.3rem;
  color:gray;
}
.atividades{
  font-size: 1rem;

}