body{
  display: grid;
}
header{
  display: grid;
}

main{
  display: grid;
  grid-row-gap: 5%;
  grid-template-areas: "cabecalho" "videos" ; 
  grid-template-rows: 75% 25%;
}


.cabecalho{
  background: red;
  grid-column: 1 / 4 ;
  grid-area: "cabecalho";
}

.videos{
  display: grid;
  grid-area: "videos";
  grid-template-columns: 33% 33% 33% ;

}

  .video1{
    background: teal;
    grid-row:  2 / 2
  }
  .video2{
    background: yellow;
      grid-row:  2 / 2
  }
  .video3{
    background: green;
    grid-row:  2 / 2
  }





