body{
  max-width:80%;
  margin: 0 auto;
}
main{
  padding: 50px 0;
  
}
#quarto{
  max-width: 100%;
  padding-top: 10px;
}
.espaco{
  position: relative;
}
.calendario{
  position: absolute;
  top:36%;
  left:6%;
  background-color: rgb(186, 103, 255);
  width: 3vw;
  padding: 0.4vw;
  border-radius: 50%;
  height: 70px;
  text-align: center;
  color: white;
  -webkit-transform: skew(6deg);
  box-shadow: rgb(85, 70, 155)  -2px 5px 11px;

}

#mudar, #mudarAno{
  font-size: 1.5vw;
  font-weight: 400;
}
#mescorreto{
  font-size: 1vw;
  font-weight: 800;
}

button{
  margin-right: 10px;
}