body{ 
  margin: auto; 
  width: 640px; 
} 
  
.tela{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 640px;
  border: none;
  background-color: white;
}
 
.xadrez{
  display:grid;
  margin:0 auto; 
  width: 600px;
  height: 600px;
  border: solid 20px black;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 2px;
  grid-template-rows:  12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}

.xadrez div{
  font-size: 3rem;
  text-align: center;
  padding: 0px;
  margin: 0;
  text-shadow:  1px 1px 5px rgb(255, 108, 164);
  background: rgb(129, 128, 128);
}

div:nth-child(2n+1) {
  background-color: rgb(255, 255, 255);
}

div:nth-child(2n) {
  background-color: rgb(0, 0, 0);
 }

h1 {
  font-size: 3rem;
  text-align: center;
  padding: 0px;
  margin: 0;
}

h2 {
  padding: 10px;
  text-align: center;
}

.brancas-form{
  color: white;
  text-shadow:  1px 1px 5px rgb(255, 108, 164);
  background: rgb(129, 128, 128);
}

.brancas{
  color: white;
  text-shadow:  1px 1px 5px rgb(255, 108, 164);
}


.pretas{
  color: black;
  text-shadow:  1px 1px 5px rgb(153, 130, 255);
}

.icon{
  width: 20px;
  height: 20px;
}

footer{ 
  width: 100%; 
  margin:0 auto; 
  color: rgba(32, 23, 82, 0.904);
  text-align: center;
}

